<html>
<head>
    <title>grover</title>

</head>
<body>

    <!--select id="lr_action" style="visibility:hidden"-->
    <select id="lr_action">
        <option value="CENTER">Center</option>
        <option value="LEFT">Left</option>
        <option value="RIGHT">Right</option>
    </select>

    <!-- Do not move script call from here. Must be set after all body elements defined -->
<!--    <script type="text/javascript" src="javascript/main_game.js"></script> -->
<script type="text/javascript" src="/static/javascript/main_game.js"></script>

</body>
</html>
